nav.navbar {
    height: 50px;
    position: sticky;
    text-align: center;
    padding: 0;
    margin: 0;
    top: 0;
    transition: 0.5s;
}

nav.navbar.navbar-shadow {
    box-shadow: 0 7.5px 15px;
}

.bg-dark {
    background-color: var(--dark);
}

div.body#mainContent {
    padding: 10px;
}

h1.header {
    color: var(--dark);
}

p.paragraph {
    color: var(--black);
}

ul.nav-items {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    text-align: center;
    list-style-type: none;
    padding: 14px 16px;
    align-self: center;
}

ul.nav-items > li.nav-item {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

ul.nav-items > li.nav-item > a {
    background-color: transparent;
    text-decoration: none;
    color: var(--light-blue);
    padding: 10px;
    font-weight: 700;
    transition: 0.3s;
    width: 100%;
}

ul.nav-items > li.nav-item > a:hover {
    color: var(--black);
}

@media screen and (max-width: 500px) {
    ul.nav-items {
        padding: 14px 2px;
    }

    ul.nav-items > li.nav-item > a {
        padding: 19px 2px;
    }
}

@media screen and (max-width: 310px) {
    /* coming soon! */
}
