nav.navbar {
	height: 50px;
	position: sticky;
}

.bg-dark {
	background-color: var(--dark);
}

div.body#mainContent {
	padding: 10px;
}

h1.header {
	color: var(--dark);
}

p.paragraph {
	color: var(--black);
}

ul.nav-items {
	margin: 0;
	background-color: transparent;
	text-align: center;
	list-style-type: none;
}

ul.nav-items > li.nav-item {
	background-color: transparent;
	padding: 10px;
}
